/* не обязательно использовать именно эти стили,
 * ты можешь изменить их или переписать вообще всё
 */

.product {
  height: 320px;
  width: 31%;
  flex-grow: 0;
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #f1f1f1;
  margin: 5px 0 20px 0;
}

.image {
  text-align: center;
}

.image img {
  height: 180px;
}

.price strike {
  color: lightgray;
}

.name {
  font-size: 20px;
  color: gray;
}

.buttonCart {
  width: 200px;
  height: 40px;
  color: white;
  background-color: rgba(0, 0, 255, 0.767);
  border-radius: 5px;
  border: none;
}

.buttonCart:hover {
  background-color: blue;
}


